
<head>  
        <title>Course Registration</title>
</head>

<body>

    <div id="testheader">
        <div class="container">
            <div class=row>        
                <div class="col-md-5 ">
                    <a routerLink="/menu" routerLinkActive="active"><h3>Student Registration</h3></a>
                </div>  
        <div class="col-md-6">
              <p>User:{{currentUser}}</p>
            <p>Current Date : {{time}}</p>
        </div>  
        <div class="col-md-1" >
               <a class="col-md-1" routerLink="/login" >Logout</a>
        </div>        
    </div>
</div>

</div>

    <div class="container">
    <div class="sidenav">
                <a routerLink="/course" routerLinkActive="active">Course Registration </a>
                <a routerLink="/studentadd" routerLinkActive="active">Student Registration </a>
                <a routerLink="/student" routerLinkActive="active">Student Search </a>
                 <a routerLink="/user" routerLinkActive="active">Users Management</a>
      </div>
      <div class="main_contents">
    <div id="sub_content">
    
        <form (ngSubmit)="onSubmit()" >

            <h2 class="col-md-6 offset-md-2 mb-5 mt-4">Student Registration</h2>
            <div class="row mb-4">
                <div class="col-md-2"></div>
                <label for="studentID" class="col-md-2 col-form-label">Student ID</label>
                <div class="col-md-4">
                    <input type="text" class="form-control"  id="studentID" name="studentId" [(ngModel)]="student.studentId" placeholder="Student ID">
                    <!-- <input formControlName="studentId" [ngClass]="{'is-invalid':submitted && studentForm.controls['studentId'].errors}" type="text" class="form-control" id="id"  placeholder="Student ID" [(ngModel)]="student.studentId" name="studentId" required> -->

                </div>
               
            </div>
            <div class="row mb-4">
                <div class="col-md-2"></div>
                <label for="name" class="col-md-2 col-form-label">Name</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" id="name" name="studentName" [(ngModel)]="student.studentName" placeholder="Student Name">
                    <!-- <input formControlName="studentName" [ngClass]="{'is-invalid':submitted && studentForm.controls['studentName'].errors}" type="text" class="form-control" id="name"  placeholder="Student Name" [(ngModel)]="student.studentName" name="studentName" required> -->

                </div>
                 
            </div>
            <div class="row mb-4">
                <div class="col-md-2"></div>
                <label for="dob" class="col-md-2 col-form-label">DOB</label>
                <div class="col-md-4">
                    <input type="date" class="form-control" id="dob" name="studentDob" [(ngModel)]="student.studentDob" placeholder="Student ID">
                    <!-- <input formControlName="studentDob" [ngClass]="{'is-invalid':submitted && studentForm.controls['studentDob'].errors}" type="date" placeholder="Student ID" class="form-control" id="dob" [(ngModel)]="student.studentDob" name="studentDob" required> -->

                </div>
                
            </div>
            <fieldset class="row mb-4">
                <div class="col-md-2"></div>
                <legend class="col-form-label col-md-2 pt-0">Gender</legend>
                <div class="col-md-4">
                    <div class="form-check-inline">
                        
                        <input type="radio" class="form-check-input" id="gridRadios1" value="male" name="studentGender" [(ngModel)]="student.studentGender" >
                        <!-- <input formControlName="studentGender" [ngClass]="{'is-invalid':submitted && studentForm.controls['studentGender'].errors}" type="radio" value="male" class="form-check-input" id="gridRadios1" [(ngModel)]="student.studentGender" name="studentGender" required> -->

                        <label class="form-check-label" for="gridRadios1">
                            Male
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <input type="radio" class="form-check-input" id="gridRadios2" value="female" name="studentGender" [(ngModel)]="student.studentGender">
                        <!-- <input formControlName="studentGender" [ngClass]="{'is-invalid':submitted && studentForm.controls['studentGender'].errors}" type="radio" value="female" class="form-check-input" id="gridRadios2" [(ngModel)]="student.studentGender" name="studentGender" required> -->

                        <label class="form-check-label" for="gridRadios2">
                            Female
                        </label>
                    </div>
                </div>
            </fieldset>
    
            <div class="row mb-4">
                <div class="col-md-2"></div>
                <label for="phone" class="col-md-2 col-form-label">Phone</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" id="phone" placeholder="+95 " name="studentPhone"  [(ngModel)]="student.studentPhone" >
                    <!-- <input formControlName="studentPhone" [ngClass]="{'is-invalid':submitted && studentForm.controls['studentGender'].errors}" class="form-control" type="text" class="form-control" id="phone" [(ngModel)]="student.studentPhone" name="studentPhone" required> -->

                </div>
            </div>
            <div class="row mb-4">
                <div class="col-md-2"></div>
                <label for="education" class="col-md-2 col-form-label">Education</label>
                <div class="col-md-4">
                    <select class="form-select" aria-label="Education" id="education" name="studentEducation" [(ngModel)]="student.studentEducation" placeholder="Student Education">
                        <option value="BIT" >Bachelor of Information Technology</option>
                        <option value="DIT">Diploma in IT</option>
                        <option value="BCS">Bachelor of Computer Science</option>
    
                    </select>
                </div>
            </div>
            <fieldset class="row mb-4">
                <div class="col-md-2"></div>
                <legend class="col-form-label col-md-2 pt-0">Attend</legend>
                
    			
                <div class="col-md-4 gap-3 d-flex flex-wrap">

                    <div *ngFor="let course of courses" class="d-flex gap-1">
                        <label >{{ course.courseName}}</label>
                        <input (change)="handleSetCourse(course.courseName)" type="checkbox" class="form-check" [value]="course.courseId" id="studentCourse" name="studentCourse">
                    </div>
                    
                    </div>
                  <div class="col-md-4">
                
                </div>
            
            </fieldset>
            
    
            <div class="row mb-4">
                <div class="col-md-4"></div>
    
                <div class="col-md-4">
                    <button type="reset" class="btn btn-danger ">
    
                        Reset
                    </button>
                    <button type="submit" class="btn btn-secondary col-md-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Add
                    </button>
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Student Registration</h5>
                                <button type="submit" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <h5 style="color: rgb(127, 209, 131);">Registered Succesfully !</h5>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-success col-md-2" data-bs-dismiss="modal">Ok</button>
                               
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
    
        </form>
</div>


        <div id="testfooter">
            <span>Copyright &#169; ACE Inspiration 2022</span>
        </div>
        <script>
            /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
            var dropdown = document.getElementsByClassName("dropdown-btn");
            var i;
            
            for (i = 0; i < dropdown.length; i++) {
              dropdown[i].addEventListener("click", function() {
              this.classList.toggle("active");
              var dropdownContent = this.nextElementSibling;
              if (dropdownContent.style.display === "block") {
              dropdownContent.style.display = "none";
              } else {
              dropdownContent.style.display = "block";
              }
              });
            }
            </script>
      </div>
    </div>
</body>